node_modules
.next
.git
.gitignore
.env
.env.local
.env*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
README.md
CONTRIBUTING.md
DEPLOYMENT.md
QUICKSTART.md
SECURITY.md
.DS_Store
*.pem
prisma/*.db
prisma/*.db-journal

# Don't ignore these - needed for build
!prisma/schema.prisma

# Uploads folder (will be mounted as volume)
public/uploads/*
!public/uploads/.gitkeep